.form
  %input#message-content.form__message{:placeholder => "type a message", :type => "text"}/
  %label.form__mask
    %input#upload-icon.image{:type => "file"}/
    %i.fa.fa-picture-o.icon
  %input.form__submit{:type => "submit", :value => "Send"}/
