<div class="form">
  <input type="text" placeholder="type a message" class="form__message" id="message-content">
  <label class="form__mask">
    <input type="file" class="image" id="upload-icon">
    <i class="fa fa-picture-o icon"></i>
  </label>
  <input type="submit" value="Send" class="form__submit">
</div>
