.groups
  %ul
    %li.group
      .group__name 神
      %p.group__message まだメッセージはありません
    %li.group
      .group__name aeaaaaaa
      %p.group__message まだメッセージはありません
    %li.group
      .group__name sampleグループ
      %p.group__message まだメッセージはありません
