<div class="groups">
  <ul>
    <li class="group">
      <div class="group__name">神</div>
      <p class="group__message">まだメッセージはありません</p>
    </li>
    <li class="group">
      <div class="group__name">aeaaaaaa</div>
      <p class="group__message">まだメッセージはありません</p>
    </li>
    <li class="group">
      <div class="group__name">sampleグループ</div>
      <p class="group__message">まだメッセージはありません</p>
    </li>
  </ul>
</div>
