.message
  .upper-message
    .upper-message__user-name ryunosukemaehira
    .upper-message__date 2016/10/02 06:27:07
  .lower-message
    %p.lower-message__content なるほど
.message
  .upper-message
    .upper-message__user-name ryunosukemaehira
    .upper-message__date 2016/10/02 06:27:30
  .lower-message
    %p.lower-message__content お腹すいた
