<div class="sidebar">
  <div class="header">
    <div class="header__user-name">ryunosukemaehira
    <div class="header__icon">
      <a href="" class="fa fa-edit fa-lg"></a>
      <a href="" class="fa fa-cog fa-lg"></a>
    </div>
    </div>
  </div>
  <%= render partial: "messages/groups" %>
</div>
