.sidebar
  .header
    .header__user-name
      ryunosukemaehira
      .header__icon
        %a.fa.fa-edit.fa-lg{:href => ""}
        %a.fa.fa-cog.fa-lg{:href => ""}
  = render partial: "messages/groups"
