<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ChatSpace</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
  <div class="topbar">チャットグループが作成されました</div>
  <div class="contents">
    <%= render partial: "sidebar" %>
    <div class="chat">
      <div class="header">
        <div class="left-header">
          <div class="left-header__title">サンプル</div>
          <ul class="left-header__members">Member:
            <li class="member">ryunosukemaehira</li>
          </ul>
        </div>
        <div class="right-header">
          <a href="" class="right-header__button">Edit</a>
        </div>
      </div>
      <div class="messages">
        <%= render partial: "message" %>
      </div>
      <%= render partial: "form" %>
    </div>
  </div>
</body>
</html>
